<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Mediply</title>
	</head>
	<body>
		
		<div class="jumbotron">
			<div class="d-flex justify-content-center">
				<img class="logo pt-5" src="img/Mediply-logo-02.png">
			</div>
			<div class="d-flex justify-content-center">
				<h2 class="text-center" id="tagline">Serving for better life care</h2>
			</div>
		</div>
		<div class="container">
			<h1 class="text-center my-5" id="heading">Dialysis Products</h1>
			<div class="row text-center">
				<div class="col-md-4 product">
					<img src="img/fresenius.png" class="product-img">
					<h4 class="mt-5 mb-3">Fresenius 4008H/ 4008S Hemodialysis Machine</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/comfortchair.png" class="product-img">
					<h4 class="mt-5 mb-3">Comfort Dialysis Chair</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/hemodialysis.png" class="product-img">
					<h4 class="mt-5 mb-3">Conc. Hemodialysis Solution B. P.</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/hepabest.png" class="product-img">
					<h4 class="mt-5 mb-3">Hepabest - Heparin Sodium Injection I. P.</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/ferobest.png" class="product-img">
					<h4 class="mt-5 mb-3">Ferobest - Iron Sucrose Injection USP</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/tubingset.png" class="product-img">
					<h4 class="mt-5 mb-3">Aero Hemodialysis Blood Tubing Set</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/fistulaneedle.png" class="product-img">
					<h4 class="mt-5 mb-3">Aeromed A. V. Fistula Needle Set</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/transducer.png" class="product-img">
					<h4 class="mt-5 mb-3">Transducer Protector</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/dora.png" class="product-img">
					<h4 class="mt-5 mb-3">Dora Dialyzer</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/citroh.png" class="product-img">
					<h4 class="mt-5 mb-3">Citro H</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/diaclean.png" class="product-img">
					<h4 class="mt-5 mb-3">Diaclean Cold Sterilant</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/dialyzer.png" class="product-img">
					<h4 class="mt-5 mb-3">Diaclean Dialyzer Reprocessor</h4>
					<hr class="mb-5">
				</div>
				<div class="col-md-4 product">
					<img src="img/meditape.png" class="product-img">
					<h4 class="mt-5 mb-3">Medi-tape 300 Series</h4>
					<hr class="mb-5">
				</div>
			</div>
		</div>
		<div class="footer p-4">
			<div class="container">
				<p>© Mediply 2018</p>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
	</body>
</html>