body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.product-img {
	height: 200px;
}

.logo {
	width: 500px;

}

.jumbotron {
	height: 500px;
	background: url('/img/jumbotron-pic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#tagline {
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #17375D;
}

#heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #0886CD;
}

.product h4 {
	font-weight: bold;
	color: #0886CD;
}

.product hr {
	width: 25%;
	border: 2px solid #D10000;
}

.footer {
	background: #17375D;
	color: white;
	font-weight: bold;
}